* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.nav,
.banner,
.about,
.services,
.projects,
.gallery,
.footer {
	padding: 30px;
}

.logo {
	width: 140px;
	height: 140px;
	margin: 0 auto; /*center horizontally*/
	margin-bottom: 10px
}

img[alt*="logo"] {
	width: 100%;
	height: 100%;
	margin-bottom: 2px;
}
.nav {
	/*background-color: #f0c2b6;*/	/*84704e*/
	background-color: rgba(240,194,182,0.6);
	height: 100vh; /*viewport height - text might overflow on mobile devices*/
	width: 200px;
	position: fixed;/* removed from normal flow, based on position on browser*/
	border: 1px dashed grey;
}

ul > li:hover {
	font-size: 25px;
}

ul {
	padding-left: 0;
}

ul > li {
	list-style: none; /*to remove the bullet*/
	background-color: rgba(226,134,109, 0.4);
	margin-bottom: 5px;
	line-height: 48px; /*base font size = 16px * 3 = 48px*/
	text-align: center;
	border-radius: 20px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
}

ul > li > a {
	text-decoration: none;
}

.main { 
	background-color: #eeb6a7;
	margin-left: 200px; /*same width declared in nav*/
	border-top: 1px dashed grey;
	border-right: 1px dashed grey;
	border-bottom: 1px dashed grey;

}

.banner {
	height: 100vh;
	position: relative; /*so that the box will make its basis for position*/
	background-image: url("https://iso.500px.com/wp-content/uploads/2016/03/pedroquintela.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.box {
	background-color: rgba(224,122,95,0.3);
	border: 5px solid white;
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute; /*based on browser*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /*so that the element will move 50% based on..*/
}

.about {
	/*height: 100vh;*/
	height: 80vh;
}

.sec {
	background-color: rgba(248,133,143,0.4);
	border: 4px double grey;
	text-align: center;
	padding: 20px;
	margin-bottom: 30px; 
	letter-spacing: 7px;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
}

.services {
	height: 80vh;
}

.projects {
	height: 80vh;
}

.gallery {
	height: 80vh;
}

.footer {
	min-height: 50px;
	background-color: #e2866d;
}

.column {
	/*border: 1px solid black;*/
	width: 31%;
	margin-left: 1.16%;
	margin-right: 1:16%;
	float: left;
	min-height: 200px;
	/*border-top: 5px solid black;*/
}

.no-top {
	margin-top: 0;
	font-family: 'Righteous', cursive;
	font-size: 25px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}


#img-about {
	width: 400px;
	height: 300px;
	float: left;
	margin-right: 20px;
}

.about-p {
	margin-bottom: 20px;
}

img[alt*="service"] {
	width: 150px;
	height: 150px;
	display: block;
	float: left;
	margin: 5px;
}

.services-p {
	text-align: left;
	overflow: hidden;
}

.gallery > .column {
	width: 23%;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 20px;
}

img[alt*=gallery] {
	width: 100%;
	height: 150px;
	display: block;
	border: 1px solid black;
}

img[alt*="social"] {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	display: block;
	float: left;
	margin-right: 10px;
}

img[alt*="proj"] {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 10px;
}

.contact {
	float: right;
}

a:visited {
	color: black;
}

h1 {
	letter-spacing: 10px;
}

#head {
	font-family: 'Satisfy', cursive;
	font-size: 50px;	
}

#sub-head {
	font-family: 'Lobster Two', cursive;
	font-size: 25px;
}

.about-p,
.services-p,
.projects-p,
.gallery-p {
	font-family: 'Rokkitt', serif;
	font-size: 20px;
}

.photography {
	font-family: 'Righteous', cursive;
	font-size: 25px;
}

.container {
	position: relative;
	width: 100%;
}

.photo {
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
 	opacity: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: center;
}

.container:hover .photo {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.title {
  background-color: rgba(0,0,0,0.2);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  font-family: 'Rokkitt', serif;
}
